.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    margin-bottom: 200px;
}

.error-content {
    max-width: 600px;
    padding: 20px;
}


.error-image {
    width: 1000px; /* Adjust as needed */
    max-width: 200%;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-right:auto ;
    margin-bottom: -200px;
}

/* Style the 404 text */
.error-content h1 {
    font-size: 30rem; /* Adjust size */
    font-weight: bold;
    margin-right: 30px;
    /* margin: 10px 0; */
    color: #ECE1F9;
}


.error-content h2 {
    font-size: 1.8rem;
    color: #666;
}


.error-content p {
    font-size: 1.2rem;
    color: solid black;
    margin-bottom: 20px;
}


.home-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3A49DA;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.home-button:hover {
    background-color: #5e35b1;
}


@media (max-width: 768px) {
    .error-content h1 {
        font-size: 4rem;
    }
    .error-image {
        width: 150px;
    }
}