*{
    font-family: "Open Sans", serif;
}

.upperdashboard {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 10px 0px;
    background: url('/Images/home-dash-background.jpeg') bottom/cover no-repeat;
}

#upperrightdashboard{
        margin: auto 10vw auto  auto;
        justify-content: center;
        align-items: center;
        width: fit-content;
        display: flex;
        flex-direction: column;

}

#upperrightdashboard button{
    padding: 15px 30px;
    border-radius: 6px;
    background-color: #3A49DA;
    font-weight: 700;
    color: white;
    font-family: "Open sans",serif;
    margin: 40px auto;
}

#rightprogressbar{
    scale: 1;
    position: relative;
    width: 25vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(to right,#ffffff94,#f2d4fb88);
    /* filter: blur(10px); */
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
    flex-direction: column;
}

#innerprogressbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw;
    height: 12vh;
    justify-content: center;
    align-items: center;

}

#innerprogressbar p{
    font-size: 2vh;
}
#innerprogressbar h3{
    font-size: 2.5vh;
}

#stroke-circle {
    stroke-dasharray: 952;
    stroke-dashoffset: 952;
    animation: anime 1s ease-in-out forwards;
    stroke-linecap: round;

}



.disclamer{
    display: flex;
    background-color: #F5F5F5;
    margin: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;

}
.disclamer svg, .disclamer p{
    margin: auto;
}
.disclamer svg{
    border-right: 2px solid #D9D9D9;
    padding: 12px;
}
.disclamer p{
    padding: 4px 12px;
    font-weight: 400;
    font-size: 1.8vh;
    font-family: "open-sans", serif;
    margin: auto 20 auto 20px;

}

 /* dashboard left side  */

#upperleftdashboard{
    display: flex;
    padding: 30px;
    /* height: 100vh; */
    /* background-color: #3f4479; remove later */
    flex-direction: column;
    width: fit-content;
    margin: 20px auto 60px auto;
}

#leftgrid svg{
    height: 20vh;
    width: 20vh;
}

#leftgrid{
display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  width: 40vw;
  height: fit-content;
  margin: 10px auto;
  width: fit-content;
  /* position: absolute; */
}

svg text{
    font-weight: 700;
}

.leftgridstroke{
    stroke-dasharray: 342;
    stroke-linecap: round;
    stroke-dashoffset: 342;
}

#Vector_2,#Ellipse\ 6{
    fill: white;
}
 
.rewards-box{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin: 50px 0px;
}
#upperleftdashboard p{
    margin-top: 10px;
}

#hyderatestroke{
     animation: hyderate 1s ease-in-out forwards;
}
#posturestroke{
    animation: posture 1s ease-in-out forwards;
}
#breaksstroke{
    animation: breaks 1s ease-in-out forwards;
}
#sleepstroke{
    animation: sleep 1s ease-in-out forwards;
}
#exercisestroke{
    animation: exercise 1s ease-in-out forwards;
}
#stepsstroke{
    animation: steps 1s ease-in-out forwards;
}

#Reward-progress{
    /* fill: white; */
    width: 0px;
    animation: reward 0.9s ease-in-out forwards;
}

@keyframes reward{
    100%{
        width: 260px;
    }
}