
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f9f9f9;
}

.device-container {
    max-width: 1500px;
    padding: 30px;
    margin-bottom: 300px;
}


.paired-devices-card {
    width: 260px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.paired-devices-card h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.paired-devices-card ul {
    list-style: none;
    padding: 0;
}

.paired-devices-card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #3A49DA;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.scanning-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scanning-animation {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scan-btn {
    width: 190px;
    height: 190px;
    position: absolute;
    z-index: 10;
    background: #3A49DA;
    color: white;
    padding: 12px 18px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.scan-btn:hover {
    background: #2d38a0;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(58, 73, 218, 0.3);
    border-radius: 50%;
    animation: ripple 2s infinite;
}

.circle:nth-child(2) {
    animation-delay: 0.5s;
}

.circle:nth-child(3) {
    animation-delay: 1s;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .device-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .paired-devices-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .scanning-area {
        margin-top: 20px;
    }
}
