footer {
    background-color: #3D0156;
    height: 380px;
    display: flex;
    flex-direction: column;
}
#footerhyperlinks{
    display: flex;
    width: 90%;
    margin: auto;
}

#footerhyperlinks div{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    font-size: 17px;
    font-family: "Montserrat", serif !important;
    font-weight: 500;
}

#footerhyperlinks div a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", serif !important;
    font-weight: 500;
    font-size: 17px;
    margin: 2px;
}

#socialmedia{
    width: fit-content;
    margin: auto;
}
#socialmedia img{
    cursor: pointer;
}