*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Open Sans", serif;

}
header{
    display: flex;
    background-color: #ECE1F9;
    font-family: "Open Sans", serif;
    padding: 5px 0px;

}
.logo{
    margin: auto 0px auto 120px;
    cursor: pointer;
    scale: 0.75;
}

nav{
    display: flex;
    margin: auto 23% auto auto;
}
@media only screen and (max-width: 1600px) {
    nav{
        margin: auto;
    }
}
nav a{
    text-decoration: none;
    color: black;
    margin: 0px 15px;
    font-weight: bold;
    font-size: 16px;
    font-weight: 600;
}

.accountsection{
    display: flex;
    margin: auto 100px auto 10px;
}
.accountsection img{
    width: fit-content;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}