/* Section 1 */
#section1{
    display: flex;
    margin: 10px;
}
#section1 button,#section1 select,#section1 option{
    background-color: white;
}
.login{
    padding: 30px 50px 10px 10px;
}
.login h3{
    font-weight: 700;
    font-size: 25px;
    color: #3D0156;
}

.login img{
    filter: invert(100%);
    width: auto;
    height: 1.3vw;
    margin: 10px -20px 10px auto;
}

#section1 *{
    margin: 10px;
    padding: 4px 40px 4px 8px ;
    border-radius: 6px;
}
/* Section 2 */
#section2{
margin: 10px;
display: flex;
}
.heightinput,.weightinput{
 display: flex;
display: inline-block;
background-color: white;
margin: 6px;
width: fit-content;
padding: 15px;
border-radius: 6px;
text-align: center;
}



.rightsection{
    display: flex;
    flex-direction: column;
    margin: auto 150px auto auto;
}
#section2 select, #section2 option{
    background-color: white;
    margin: 10px;
    padding: 6px 30px 6px 8px;
    border-radius: 6px;
}

/* Section 3  */
#section3{
display: grid;
grid-template-columns: repeat(6, 125px); 
margin: 10px;
font-weight: 400;
}
#section3 button{
    padding: 8px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
}

hr{
    background-color: #0076D3;
    height: 1.8px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}






/* remove ip number arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.submitbtn{
    padding: 6px 26px;
    margin: 15px;
    background-color: #3A49DA;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

/* Interested topics */
.interestedtopics{
    background-color: #ffffff46;
}

.interestedtopicsselected{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}