
#heading1 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    padding-left: 140px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 40px;
       
}

.rewards-container{
    padding-left:  140px; ;

}

